{% extends "base.html" %}

{% block title %}Dashboard - Reconhecedor de Imagens{% endblock %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container">
    <!-- Cartões de Funcionalidades -->
    <div class="cards-container">
        <div class="card">
            <h3><i class="fas fa-users"></i> Cadastro de Grupos</h3>
            <p>Cadastre novos grupos para organização.</p>
            <a href="{{ url_for('register_group') }}" class="btn btn-secondary"><i class="fas fa-arrow-right"></i>
                Acessar</a>
        </div>

        <div class="card">
            <h3><i class="fas fa-video"></i> Verificação ao Vivo</h3>
            <p>Visualize a verificação de imagens em tempo real.</p>
            <a href="{{ url_for('live_verification') }}" class="btn btn-secondary"><i class="fas fa-arrow-right"></i>
                Acessar</a>
        </div>
        <div class="card">
            <h3><i class="fas fa-images"></i> Imagens Processadas</h3>
            <p>Veja as imagens processadas após a captura.</p>
            <a href="{{ url_for('view_processed_images') }}" class="btn btn-secondary"><i
                    class="fas fa-arrow-right"></i> Acessar</a>
        </div>
        <div class="card">
            <h3><i class="fas fa-chart-line"></i> Ranking de Grupos</h3>
            <p>Veja o ranking de grupos por acurácia.</p>
            <a href="{{ url_for('detailed_group_ranking') }}" class="btn btn-secondary"><i class="fas fa-arrow-right"></i>
                Acessar</a>
        </div>
    </div>
</div>
{% endblock %}