<!-- templates/dashboard.html -->
{% extends "base.html" %}

{% block title %}Dashboard - Reconhecedor de Imagens{% endblock %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}
<div class="welcome-message">
    <h2>Bem-vindo, {{ session['username'] }}!</h2>
    <p>Aqui você pode acessar todas as funcionalidades do sistema.</p>
</div>

<!-- Botões de Ação -->

<!-- Cartões de Funcionalidades -->
<div class="cards-container">
    <div class="card">
        <h3>Cadastro de Grupos</h3>
        <p>Cadastre novos grupos para organização.</p>
        <a href="{{ url_for('register_group') }}" class="btn btn-secondary">Acessar</a>
    </div>
    <div class="card">
        <h3>Ranking de Grupos</h3>
        <p>Veja o ranking de grupos por acurácia.</p>
        <a href="{{ url_for('group_ranking') }}" class="btn btn-secondary">Acessar</a>
    </div>
    <div class="card">
        <h3>Verificação ao Vivo</h3>
        <p>Visualize a verificação de imagens em tempo real.</p>
        <a href="{{ url_for('live_verification') }}" class="btn btn-secondary">Acessar</a>
    </div>
    <div class="card">
        <h3>Imagens Processadas</h3>
        <p>Veja as imagens processadas após a captura.</p>
        <a href="{{ url_for('view_processed_images') }}" class="btn btn-secondary">Acessar</a>
    </div>
</div>
{% endblock %}
