<!-- templates/live_verification.html -->
{% extends "base.html" %}

{% block title %}Verificação ao Vivo - Reconhecedor de Imagens{% endblock %}
{% block page_title %}Verificação ao Vivo{% endblock %}

{% block content %}
<div class="live-verification-container">
    <div class="controls">
        {% if processing_active %}
            <a href="{{ url_for('stop_live_processing') }}" class="btn btn-danger">Parar Processamento</a>
        {% else %}
            <a href="{{ url_for('start_live_processing') }}" class="btn btn-success">Iniciar Processamento ao vivo</a>
        {% endif %}
    </div>
    <div class="video-container">
        <!-- Display the live video stream -->
        <img src="{{ url_for('live_feed') }}" alt="Imagem ao Vivo" id="live-image">
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function updateImage() {
        console.log("Updating image...");
        var image = document.getElementById('live-image');
        var timestamp = new Date().getTime();
        image.src = "{{ url_for('live_feed') }}?t=" + timestamp;
    }

    setInterval(updateImage, 500); // Update every 500 milliseconds
</script>
{% endblock %}
