{% extends "base.html" %}

{% block title %}Cadastro de Grupos{% endblock %}

{% block content %}
<h1>Cadastro de Grupos</h1>
<form method="post">
    <input type="text" name="group_name" placeholder="Nome do Grupo" required>
    <button type="submit">Cadastrar</button>
</form>
<!-- Mostrar mensagens de sucesso ou erro -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="success">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}
