{% extends "base.html" %}

{% block title %}Selecionar Grupo{% endblock %}
{% block page_title %}Selecionar Grupo{% endblock %}

{% block content %}
<div class="select-group-container">
    <form action="{{ url_for('select_group') }}" method="POST" class="select-group-form">
        <h2>Selecione um Grupo</h2>
        <div class="form-group">
            <label for="group_name">Grupo:</label>
            <select name="group_name" id="group_name" class="form-control" required>
                <option value="" disabled selected>-- Selecione um Grupo --</option>
                {% for group in group_names %}
                <option value="{{ group }}">{{ group }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Selecionar</button>
    </form>
</div>
{% endblock %}
