{% extends "base.html" %}

{% block title %}Imagens Processadas - Reconhecedor de Imagens{% endblock %}
{% block page_title %}Imagens Processadas{% endblock %}

{% block content %}
<div class="processed-images-container">
    <h3><i class="fas fa-images"></i> Melhores Imagens</h3>
    {% if top_images %}
        <div class="images-grid">
            {% for img_info in top_images %}
                <div class="image-item">
                    <img src="{{ url_for('static', filename='captures/' ~ group_name ~ '/' ~ img_info.image_filename) }}" alt="Imagem">
                    {% if img_info.class %}
                        <p>{{ img_info.class }}: {{ '%.2f'|format(img_info.confidence * 100) }}%</p>
                    {% else %}
                        <p>Nenhuma detecção</p>
                    {% endif %}
                    <form action="{{ url_for('delete_image') }}" method="post">
                        <input type="hidden" name="image_filename" value="{{ img_info.image_filename }}">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Deletar</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Nenhuma imagem disponível.</p>
    {% endif %}

    <h3><i class="fas fa-image"></i> Todas as Imagens Processadas</h3>
    {% if images %}
        <div class="images-grid">
            {% for img_info in images %}
                <div class="image-item">
                    <img src="{{ url_for('static', filename='captures/' ~ group_name ~ '/' ~ img_info.image_filename) }}" alt="Imagem">
                    {% if img_info.class %}
                        <p>{{ img_info.class }}: {{ '%.2f'|format(img_info.confidence * 100) }}%</p>
                    {% else %}
                        <p>Nenhuma detecção</p>
                    {% endif %}
                    <form action="{{ url_for('delete_image') }}" method="post">
                        <input type="hidden" name="image_filename" value="{{ img_info.image_filename }}">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Deletar</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Nenhuma imagem processada disponível.</p>
    {% endif %}
</div>
{% endblock %}
